.contact {
    width: 100%; 

    input {
        width: 100%;
        border: 2px solid black;
        padding: 5px;
    }

    textarea {
        width: 100%;
        min-height: 100px;
        padding: 5px;
        border: 2px solid black;
    }

    input[type=checkbox] {
        width: auto;
    }

}

address {
    font-size: 16px;
    font-style: normal;

    svg {
        font-size: 18px;
        vertical-align: bottom;
        margin-right: 5px;
    }

    p {
        width: 100%;
    }
}

