.alert {
    width: 100vw; 
    margin: 0px;
    padding: 10px;
    min-height: 35px; 
    padding-top: 15px;
    padding-bottom: 15px;
    background: #FFE66D;
    display: flex; 
    justify-content: space-around;
    align-items: center;
    position: relative;

    h2 {
        font-size: 5vw;
    }
}

span.close {
    position: absolute;
    top: 0; 
    right: 2vw;
    display: block;
    padding: 20px;
}

span:hover {
    cursor: pointer;
}