/* 
* TABLE OF CONTENTS 
* Icons
*/


/* Icons */

footer {
  // border-top: 2px solid #F0EFF4;
  // background: linear-gradient(90deg, rgba(33,131,128,1) 0%, rgba(87,145,113,1) 28%, rgba(233,105,63,1) 88%, rgba(215,38,61,1) 100%);
  background: #292F36;

  margin: 0 auto;
  color: black;
  min-height: 280px;
  padding-top: 25px;
  color: white;
  // -webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);
	// box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.2);

  a {
    color: white;
  }

  h3 {
    margin: 0;
  }

  #footer {
    // border-bottom: 2px solid #F0EFF4;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .social {
    display: flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end; 
    align-items: center;
    float: right;
    max-width: 300px;
    margin: 0;
    padding: 0;

    svg {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

  }


  .logo-area {
    float: left;
    width: 300px;

  }

  .footer-logo {
    float: left;
    max-height: 20px;
    margin-right: 5px;
  }

  .footer-title {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    display: block;
    position: relative;
    top: 2px;
  }

}

footer ul li {
  list-style-type: none;
  margin: 0;
  
}